<%- include('partials/head') %>
<body>
    <%- include('partials/menu') %>

    <%- include('partials/header') %>
    
<main class="flex-1"></main>

<h5 class="text-center text-sm font-light text-gray-300 my-4"><%= site.nav[2].description %></h5>

    <%- include('partials/footer') %>