<%- include('partials/head') %>
<body>
    <%- include('partials/menu') %>

    <%- include('partials/header') %>

    <aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-center px-10 min-h-12 items-center">
    

    </aside>
    
    <header class="mt-12 text-center italic font-black p-5 text-white bg-slate-900">
        <%= site.errorTag %>
    </header>

<main class="flex-1"></main>

<h5 class="text-center text-sm font-light text-gray-300 my-4"><%= site.nav[3].description %></h5>

    <%- include('partials/footer') %>