
    <aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-center px-10 h-10 content-center">
    
        <%- include('partials/deleteNav') %>
        <%- include('partials/collectionNav') %>
        
    </aside>
    
    
<main class="flex-1">
    <main class="flex-1 flex flex-wrap justify-center m-4 gap-1">
    
            <div class="w-[25em] bg-slate-700 border-2 border-slate-600">
    
                <header class="grid grid-cols-9 px-3 py-1 rounded-br-full bg-stone-900 select-none">
    
                    <h6 class="col-span-8 font-black select-text text-gray-200"><%= superheroe.nombreSuperHeroe %></h6>
    
                </header>
    
                <main class="text-sm grid grid-cols-5 p-1">
                    <span class="select-none text-right pr-2 text-yellow-400">Nombre:</span>
                    <p class="col-span-4"><%= superheroe.nombreReal %></p>
                </main>
    
                <main class="text-sm grid grid-cols-5 p-1 bg-slate-600">
                    <span class="select-none text-right pr-2 text-yellow-400">Edad:</span>
                    <p><%= superheroe.edad %></p>
                    <span class="select-none text-right pr-2 text-yellow-400">Orígen:</span>
                    <p class="col-span-2"><%= superheroe.planetaOrigen %></p>
                </main>
    
                <main class="text-sm grid p-1 bg-slate-700 grid grid-cols-5">
                    <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Debilidad:</span>
                    <p class="col-span-4"><%= superheroe.debilidad %></p>
                </main>
    
                <% if (superheroe.poderes && superheroe.poderes.length > 0) { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Poderes:</span>
                        <p class="col-span-4"><%= superheroe.poderes.join(', ') %></p>
                    </main>
                <% } else { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Poderes:</span>
                        <p class="col-span-4">No tiene %></p>
                    </main>
                <% } %>
    
                <% if (superheroe.aliados && superheroe.aliados.length > 0) { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-700">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Aliados:</span>
                        <p class="col-span-4"><%= superheroe.aliados.join(', ') %></p>
                    </main>
                <% } else { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-700">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Aliados:</span>
                        <p class="col-span-4">No tiene %></p>
                    </main>
                <% } %>
    
                <% if (superheroe.enemigos && superheroe.enemigos.length > 0) { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Enemigos:</span>
                        <p class="col-span-4"><%= superheroe.enemigos.join(', ') %></p>
                    </main>
                <% } else { %>
                    <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                        <span class="select-none text-right pr-2 col-span-1 text-yellow-400">Enemigos:</span>
                        <p class="col-span-4">No tiene %></p>
                    </main>
                <% } %>
    
                <main class="text-sm grid grid-cols-5 p-1 bg-slate-700">
                    <span class="select-none text-right pr-2 text-yellow-400">Creador:</span>
                    <p class="col-span-4"><%= superheroe.creador %></p>
                </main>
    
                <main class="text-sm grid grid-cols-5 p-1 bg-slate-600">
                    <span class="select-none text-right pr-2 text-yellow-400">_id:</span>
                    <p class="col-span-4"><%= superheroe._id %></p>
                </main>
    
            </div>
    
    </main>
    
        <h5 class="text-center text-sm font-light text-gray-300 my-4"><%= site.deleteNav[0].description %></h5>
</main>
