
    <!--FORMULARIO-->
<form action="/api/heroes/id/<%= superheroe._id %>?_method=PUT" method="POST" class="flex-1">

    <aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-center px-10 h-10 content-center">
    
        <%- include('partials/editNav') %>
        
    </aside>
    
    
<main class="flex-1 flex flex-wrap justify-center m-4 gap-1 text-gray-200">
    
        <div class="w-[25em] bg-slate-700 border-2 border-slate-600">

            <header class="grid grid-cols-1 px-3 pt-1 rounded-br-full bg-stone-900 select-none">
                <input
                    value="<%= superheroe.nombreSuperHeroe %>"
                    class="text-gray-200 col-span-6 font-black select-text"
                    type="text"
                    required
                    placeholder="Nombre del nuevo Héroe"
                    name="nombreSuperHeroe">

            </header>

            <main class="text-sm grid grid-cols-5 p-1">
                <label for="nombreReal" class="select-none text-right pr-2 text-yellow-400">Nombre:</label>
                <input
                    value="<%= superheroe.nombreReal %>"
                    class="col-span-4"
                    id="nombreReal"
                    type="text"
                    required
                    placeholder="Nombre Real (Ej: Clark Kent)"
                    name="nombreReal">

            </main>

            <main class="text-sm grid grid-cols-5 p-1 bg-slate-600">
                <label for="edad" class="select-none text-right pr-2 text-yellow-400">Edad:</label>
                <input
                    value="<%= superheroe.edad %>"
                    id="edad"
                    type="number"
                    min="0"
                    placeholder="Nº años"
                    name="edad">

                <label for="planetaOrigen" class="select-none text-right pr-2 text-yellow-400">Orígen:</label>
                <input
                    value="<%= superheroe.planetaOrigen %>"
                    id="planetaOrigen"
                    class="col-span-2"
                    type="text"
                    placeholder="Planeta (Ej: Kriptón)"
                    name="planetaOrigen">

            </main>

            <main class="text-sm grid p-1 bg-slate-700 grid grid-cols-5">
                <label for="debilidad" class="select-none text-right pr-2 col-span-1 text-yellow-400">Debilidad:</label>
                <input
                    value="<%= superheroe.debilidad %>"
                    id="debilidad"
                    class="col-span-4"
                    type="text"
                    placeholder="Vulnerabilidad o limitación (Ej. Kriptonita)"
                    name="debilidad">
            </main>

            
            <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                <label for="poderes" class="select-none text-right pr-2 col-span-1 text-yellow-400">Poderes:</label>
                <input class="col-span-4"
                    value="<%= superheroe.poderes%>"
                    id="poderes"
                    type="text"
                    placeholder="Separados con comas. (Ej: Volar, Rayos X)"
                    name="poderes">
            </main>

            
            <main class="grid grid-cols-5 text-sm p-1 bg-slate-700">
                <label for="aliados" class="select-none text-right pr-2 col-span-1 text-yellow-400">Aliados:</label>
                <input class="col-span-4"
                    value="<%= superheroe.aliados %>"
                    id="aliados"
                    type="text"    
                    placeholder="Separados con comas. (Ej: Ironman, Flash)"
                    name="aliados">
            </main>
            
            
            <main class="grid grid-cols-5 text-sm p-1 bg-slate-600">
                <label for="enemigos" class="select-none text-right pr-2 col-span-1 text-yellow-400">Enemigos:</label>
                <input
                    value="<%= superheroe.enemigos %>"
                    id="enemigos"
                    class="col-span-4"
                    type="text"
                    placeholder="Separados con comas. (Ej: Mongul, Gog)"
                    name="enemigos">
            </main>
            

            <main class="text-sm grid grid-cols-5 p-1 bg-slate-700">
                <label for="creador" class="select-none text-right pr-2 text-yellow-400">Creador:</label>
                <input
                    value="<%= superheroe.creador %>"
                    id="creador"
                    class="col-span-4"
                    type="text"
                    placeholder="Nombre/apodo del gestor de la colección"
                    name="creador">
            </main>

        </div>
    
</main>

<h5 class="text-center text-sm font-light text-gray-300 my-4"><%= site.editNav[0].description %></h5>

</form>

    