<%- include('partials/head') %>

<body>
    <%- include('partials/menu') %>

    <main>

        <h5>
            &ddarr; <%= collectionsMenu[0].name %>
        </h5>

            <a href="/mongodb">
                <p><%= currentNav.navPages[1].name %></p>
            </a>
    
        <h6>
            <%= collectionsMenu[0].description %>
        </h6>
    </main>

    <footer id="mainFooter">

    </footer>

</body>
</html>