<%- include('partials/head') %>

<body>

    <main>

        <%- include('partials/menu') %>

        <main>
    
            <h5>
                &ddarr; <%= collectionsMenu[0].name %>
            </h5>
        
            <h6>
                <%= collectionsMenu[0].description %>
            </h6>

    <h6>
            <%= superheroes[0].nombreSuperHeroe %>
        </h6>
    </main>

    <footer id="mainFooter">

    </footer>

</body>
</html>