<%- include('partials/head') %>
    <%- include('partials/menu') %>

    <%- include('partials/header') %>

    <body class="min-h-screen bg-slate-800 text-gray-200 flex flex-col">
    
        <%- body %>

    </body>

    <%- include('partials/footer') %>