<!-- Add -->
<% if ((site.isActive !== 'add') && (site.isActive !== 'edit') && (site.isActive !== 'delete') && (site.isActive !== 'home')) { %>
<button
class="text-xs select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 px-2"
id="<%= site.collectionNav[1].id %>">
    <a href="<%= site.collectionNav[1].link %>">
        <main>
            <p><%= site.collectionNav[1].icon %></p>
            <p class="text-slate-400"><%= site.collectionNav[1].id %></p>
        </main>
    </a>
</button>
<% } %>


<!-- INICIA CUERPO DE LA SEARCH BAR ( SCRIPT JS AL FINAL DEL DOCUMENTO )-->

<form id="searchBar" method="POST" action="/api/heroes/buscar" class="flex items-center">

        <select id="selectAtributos" class="h-8 mr-2 text-yellow-400 text-center border border-slate-600">
            <option selected disabled></option>
            <option value="_id">id</option>
            <option value="nombreSuperHeroe">Nombre</option>
            <option value="nombreReal">Nombre Real</option>
            <option value="edad">Edad</option>
            <option value="planetaOrigen">Orígen</option>
            <option value="debilidad">Debilidad</option>
            <option value="poderes">Poderes</option>
            <option value="aliados">Aliados</option>
            <option value="enemigos">Enemigos</option>
            <option value="creador">Creador</option>
        </select>
        <input
            min= 0
            type="text"
            id="inputValores"
            class="text-center h-8 w-52 bg-gray-800"
            required>
    

    <button class="px-2 select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 px-2 border-r"
        type="submit"
        id="findButton">
            <p><%= site.collectionNav[0].icon %></p>
            <p class="text-slate-400"><%= site.collectionNav[0].id %></p>
    </button>

</form>
<!-- FINALIZA CUERPO DE LA SEARCH BAR ( SCRIPT JS AL FINAL DEL DOCUMENTO )-->

<!-- Todos los  heroes -->

<% if ((site.isActive !== 'heroes') && (site.isActive !== 'home')) { %>
<button 
class="text-xs select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 px-2"
id="<%= site.nav[1].id %>">
    <a href="<%= site.nav[1].link %>">
        <main>
            <p><%= site.nav[1].icon %></p>
            <p class="text-slate-400"><%= site.nav[1].id %></p>
        </main>
    </a>
</button>
<% } %>



<!-- //// JS Dynamic Form / Search Bar -->

<script>

        const selectAtributos = document.getElementById('selectAtributos');
        const inputValores = document.getElementById('inputValores');
        const findButton = document.getElementById('findButton');
        const searchBar = document.getElementById('searchBar');

        selectAtributos.value = null;
        inputValores.value = null;

        selectAtributos.addEventListener('change', function() {
        // Cambiar tipo de input            
            if (selectAtributos.value === 'edad') {
                inputValores.type = 'number'
                inputValores.name = 'edad'
            } else {
                inputValores.type = 'text'
                inputValores.name = selectAtributos.value
            }
            //Vacía el input al cambiar de atributo
            inputValores.value = null;
            atributo = selectAtributos.value
        });

    //Submit Handler
    findButton.addEventListener('click',(event) => {
        event.preventDefault();
    
        const valor = inputValores.value
        const atributo = selectAtributos.value

        if (!atributo || !valor) {
            alert('Seleccione atributo e ingrese un valor')
            return
        }
        else
        {
        searchBar.submit();  // Envia el formulario
        }
    })


</script>

<!-- Dynamic Form //// -->
