
<aside class="w-full bg-slate-700 border-b border-slate-800 text-xs flex justify-start px-10">

    <form action="/api/heroes/id/<%= superheroe._id %>?_method=DELETE" method="POST">
        <button
            class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
            type="submit"
            id="<%= site.deleteNav[0].id %>">
            <p>&#10006;</p>
            <p class="text-slate-400"><%= site.deleteNav[0].id %></p>
        </button>
    </form>        
        <a href="/api/heroes/id/<%= superheroe._id %>">
            <button
                class="select-none cursor-pointer text-center text-yellow-400 hover:text-yellow-100 py-1 px-2"
                id="<%= site.deleteNav[1].id %>">
                <p>&#8634;</p>
                <p class="text-slate-400"><%= site.deleteNav[1].id %></p>
            </button>
        </a>

</aside>