<header id="mainHeader">
    <h3>
        <%= siteNav[0].title %>
    </h3>
    <h4>
        <%= siteNav[0].secondaryTitle %>
    </h4>

    <nav>
        <a href="<%= siteNav[0].navPages[0].link %>">
            <button id="<%= siteNav[0].navPages[0].id %>">
                <p><%= siteNav[0].navPages[0].name %></p>
            </button>
        </a>
        
    </nav>
</header>